# EmailJS Configuration
# Sign up at https://www.emailjs.com/ and get your credentials

VITE_EMAILJS_SERVICE_ID="service_zowrius"
VITE_EMAILJS_TEMPLATE_ID="template_yezqx6b"
VITE_EMAILJS_PUBLIC_KEY="-scvuR7-mfjv4zD9h"